body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.banner {
  text-align: center;
  margin: 10px;
}

.container {
  margin: auto;
  padding: 10px;
  width: 80%;
}

.box {
  padding: 1%;
  width: 48%;
  float:left;
}

h1 {
  font-weight: 300;
}
